{% extends "bootstrap/base.html" %}
{% block title %}Generator - Main!{% endblock %}

{% block head %}
{{ super() }}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      {% if category == 'message' %}
              <div class="alert alert-warning" role="alert">
            {% else %}
              <div class="alert alert-{{ category }}" role="alert">
            {% endif %}
              {{ message }}
            </div>
    {% endfor %}
  {% endif %}
{% endwith %}
{% endblock %}

{% block content %}
    <div class="container">
     <h1>Welcome, pick a list to seed me!</h1>
        <ul id="navigation">
        {% for (listname, url) in listitems %}
            <li><a href="{{ url }}">{{ listname }}</a></li>
            {% else %}
            <p>Uh oh, no lists in database... Why don't you create one!</p>
            {% endfor %}
        </ul>
        <footer class="footer">
            <p>&copy; Northwave 2016</p>
        </footer>
    </div>
{% endblock %}
