{% extends "bootstrap/base.html" %}
{% block title %}Generator - Load {{ listname }}!{% endblock %}
{% block head %}
{{ super() }}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      {% if category == 'message' %}
              <div class="alert alert-warning" role="alert">
            {% else %}
              <div class="alert alert-{{ category }}" role="alert">
            {% endif %}
              {{ message }}
            </div>
    {% endfor %}
  {% endif %}
{% endwith %}
{% endblock %}
{% block content %}
    <div class="container">
    <h1>Load {{ listname }}</h1>
    <p>Paste your list in here. Newlines, tabs, and comma's are treated as item seperators.</p>
    <form method=post action="{{ posturl }}">
        <dl>
        {{ form.freetext(rows=30, cols=65, placeholder="item1, item2\nitem3")|safe }}
        </dl>
    <p><input type=submit value=Load class="btn">

</form>
    <footer>
        <p>&copy; Northwave 2016</p>
    </footer>
    </div>
{% endblock %}
